page-store-list {
    .list-item{
        cursor: pointer;
    }
    .scroll-content {
        background: url('../assets/imgs/background.png');
    
      }
      .scroll-content >*{
        opacity: 0.9!important;
    
      }
      .location{
        color:#00A4D1 !important;
      }
}
